main {
    width: 100%;
    height: 100%;
    // scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.logo{
    position: absolute;
    z-index: 200000000;
    svg{
        height: 100%;
        width: fit-content;
        path{
            stroke-width: 4;
        }
    }
}

.theme-switch{
    z-index: 200000000;
    position: relative;
    display: block;
    width: 144px;
    height: 60px;
    cursor: pointer;

    input{
        width: 0;
        height: 0;
        opacity: 0;

        &:checked + .slider{
            background-color: #01010F;

            &::before{
                content: url(../assets/icons/moon.svg);
                background-color: #91919F;
                left: calc(100% - 4px);
                transform: translateX(-100%);
            }

            .dark{
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
                opacity: 1;
            }

            .light{
                top: 150%;
                right: 20px;
                transform: translateY(-50%);
                opacity: 0;
            }
        }
    }

    .slider{
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: .4s;
        transition: .4s;
        width: 100%;
        height: 100%;
        background-color: var(--primary);
        outline: 2px solid var(--text);
        border-radius: 30px;
        box-sizing: border-box;
        overflow: hidden;

        .dark{
            position: absolute;
            font-family: 'Bebas Neue';
            padding-top: 3px;
            font-size: 32px;
            line-height: 32px;
            top: 150%;
            left: 20px;
            transform: translateY(-50%);
            -webkit-transition: .4s;
            transition: .4s;
            opacity: 0;
            color: #fdfdff;
        }

        .light{
            position: absolute;
            font-family: 'Bebas Neue';
            padding-top: 3px;
            font-size: 32px;
            line-height: 32px;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            color: var(--bg);
            -webkit-transition: .4s;
            transition: .4s;
            opacity: 1;
        }
        &::before{
            position: absolute;
            content: url(../assets/icons/sun.svg);
            height: 52px;
            width: 52px;
            left: 4px;
            top: 4px;
            padding: 10px;
            background-color: var(--text);
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
    }
}

nav{
    background-color: var(--primary);
    height: 60px;
    border-radius: 30px;
    outline: 2px solid #01010F;
    width: fit-content;
    position: fixed;
    z-index: 100000;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin-top: 3px;
        font-family: 'Bebas Neue';
        font-size: 32px;
        color: #01010F;

        #nav-thumb{
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            content: "";
            height: calc(100% - 12px);
            color: #fdfdff;
            background-color: #fdfdff;
            border-radius: 30px;
            z-index: 100002;
        }
    }

    li{
        list-style: none;
        display: inline-block;
        z-index: 100003;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 768px) {
    .theme-switch {
        width: 96px;
        height: 40px;

        .slider {

            .dark {
                font-size: 24px;
                line-height: 24px;
                padding-top: 8px;
                left: 10px !important;
            }

            .light {
                font-size: 24px;
                line-height: 24px;
                padding-top: 8px;
                right: 10px !important;
            }

            &::before {
                zoom: 66%;
            }
        }
    }

    nav {
        transform: translateX(-50%) scale(0.66);
    }
}

.highlight{
    color: var(--primary);
}

#home{
    .bg-gradient {
        position: absolute;
        z-index: 1;
        height: 100%;
        aspect-ratio: 1;
        background: radial-gradient(206.93% 131.08% at 6.15% 8.50%, var(--primary) 0%, var(--bg) 40%, var(--bg) 100%);
        animation: breathe 4s ease-in-out infinite;
    }
    .content-wrapper{
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .content{
        display: flex;
        margin-bottom: 10vmin;
        width: 100%;
        gap: 2rem;

        h1{
            line-height: 25vmin;
            font-size: 20vmin;
        }

        p{
            font-family: 'Bebas Neue';
            margin-left: 0.25rem;
        }
    }

    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 10vmax;
        background: linear-gradient(360deg, var(--bg) 0%, rgba(1, 1, 15, 0.00) 100%);
    }

    .circle-right{
        width: 2400px;
        height: 2400px;
        position: absolute;
        top: -500px;
        z-index: 1;
        left: calc(100vw - 30vmin);
        animation: rotate 100s linear infinite;
    }

    .scroll-motivation{
        display: block;
        font-family: 'Bebas Neue';
        color: var(--text);
        z-index: 2;
        position: absolute;
    }
}

#wings{
    .bg-gradient{
        position: absolute;
        right: calc(100vw - 40vmin);
        top: 0;
        z-index: 1;
        height: 100%;
        aspect-ratio: 1;
        transform: scale(0.95);
        background: radial-gradient(var(--primary) 0%, var(--bg) 70%, var(--bg) 100%);
    }

    .pin-wrap {
        position: absolute;
        z-index: 2;
        height: 100%;
        aspect-ratio: 1;
        top: 0;
        right: calc(100vw - 40vmin);

        .inner-wrapper {
            position: relative;

            .circle {
                height: 100%;
                width: 100%;
            }

            .point {
                position: absolute;
                top: 50%;
                left: 50%;
                border-radius: 6px;
                width: 12px;
                height: 12px;
                background-color: var(--primary);
                color: var(--text);
                display: flex;
                align-items: center;

                p {
                    margin: 0;
                    position: relative;
                    top: -6px;
                    left: 1.5rem;
                    // animation: roatateInverse 8s linear infinite;
                }
            }

            @for $i from 2 through 9 {
                .point:nth-child(#{$i}n) {
                    transform: translate(-50%, -50%) rotate(#{($i + 2) * 45}deg) translateX(calc(-50vh)) rotate(180deg);
                }
            }
        }
    }

    wing-content {
        position: relative;
        z-index: 2;
        width: 60vmin;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}


@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.8);
    }

    100% {
        transform: scale(1);
    }
}