@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #01010F;
    --text: #FDFDFF;
    --blue: #6F86EB;
    --yellow: #F4E36E;
    --pink: #F0B1BB;
    --green: #65B27B;
    --primary: var(--blue);
}

@font-face {
    font-family: 'Tusker Grotesk';
    src: local('Tusker Grotesk 4600 Semibold'), local('Tusker-Grotesk-4600-Semibold'),
        url('../assets/fonts/TuskerGrotesk-4600Semibold.woff2') format('woff2'),
        url('../assets/fonts/TuskerGrotesk-4600Semibold.woff') format('woff'),
        url('../assets/fonts/TuskerGrotesk-4600Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald-Regular.woff') format('woff'),
        url('../assets/fonts/Oswald-Regular.woff2') format('woff2'),
        url('../assets/fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'), local('Bebas-Neue-Regular'),
        url('../assets/fonts/BebasNeueRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Firefox */
}

html {
    height: 100%;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Oswald', sans-serif;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tusker Grotesk', sans-serif;
}

.scroll_arrow {
    display: block;
    opacity: 50%;
    font-size: 100px;
    user-select: none;
}

.scroll_arrow:hover {
    opacity: 100%;
}

/* Removing text selection */
p,
h1,
h2,
h3,
a,
.rotate-text {
    -webkit-user-select: none;
    /* For Safari */
    -ms-user-select: none;
    /* For IE */
    user-select: none;
}
.loading-page .hidden{
    opacity: 0;
    pointer-events:none
}


.loading-page {
    position: absolute;
    z-index: 200000000111;
    top: 0;
    left: 0;
    /* background: linear-gradient(to right, #01010f, #01010f, #01010f); */
  background: #01010f;
  opacity: 90;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
  
  }
  #svg-wo{
    height: 150px;
    width: 150px;
    position: absolute;
  }
  #svg {
    height: 150px;
    width: 150px;
    
    stroke-width: 3px;
    stroke-dasharray: 4500;
    animation: draw 8s ease;
    animation-fill-mode: forwards;
  }
  
  @keyframes draw {
    0% {
      stroke-dashoffset: 4500;
      stroke: #232B54;
    }
    100% {
      stroke-dashoffset: 0;
      stroke: #ffffff;
      stroke-width: 3px;
      fill: #6f86eb;
    }
  }
  
  .name-container {
    height: 60px;
    overflow: hidden;
  }
  
  .logo-name {
    color: #f0f0f0;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 12px;
    text-transform: uppercase;
  
    margin-left: 20px;
  
  }
  
  .logo-name span{
    color: #6f86eb;
  
  }
  
  
  .dot-typing {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    animation: dot-typing 1.5s infinite linear;
  }
  
  @keyframes dot-typing {
    0% {
      box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
        10014px 0 0 0 #9880ff;
    }
  
    16.667% {
      box-shadow: 9984px -10px 0 0 #9880ff, 9999px 0 0 0 #9880ff,
        10014px 0 0 0 #9880ff;
    }
  
    33.333% {
      box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
        10014px 0 0 0 #9880ff;
    }
  
    50% {
      box-shadow: 9984px 0 0 0 #9880ff, 9999px -10px 0 0 #9880ff,
        10014px 0 0 0 #9880ff;
    }
  
    66.667% {
      box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
        10014px 0 0 0 #9880ff;
    }
  
    83.333% {
      box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
        10014px -10px 0 0 #9880ff;
    }
  
    100% {
      box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
        10014px 0 0 0 #9880ff;
    }
  }
  
  
  .load{
    bottom: 0;
    position: absolute;
    margin-bottom: 1rem;
    width: 90%;
    display: flex;
    justify-content: right;
  }
  
  @media screen and (max-width:600px){
    .load{
      justify-content: center;
    }
  }
  